body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: #f5f6ff;
}

.container {
    display: flex;
}

#color{
    background: #c7cebe;
    width: 100%;
    height: 0.5vw;
    position: absolute;
    top: 12vw;
}

.sidebar {
    width: 20vw;
    background: #0d484e;
    color: white;
    padding: 20px;
    position: fixed;
    left: -20vw;
    top: 0;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    z-index: 6;
}

#logo{
    position: relative;
    margin-top: 1vw;
    margin-left: 0vw;
}

.sidebar.show {
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin-top: -6vw;
    font-size: 2.2vw;
    margin-left: 4.5vw;
}

#r{
    margin-top: -1vw;
    font-size: 2.2vw;
    margin-left: 5vw;
}
#r2{
    position: relative;
    margin-top: -7vw;
    font-size: 2.2vw;
    margin-left: 4vw;
}

.sidebar li{
    width: 15vw;
    height: 2vw;
    padding: 0.2vw 1vw ;
    border-radius: 1vw;
    transition: background-color 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 6vw;
    margin-left: 5vw;
}

#active{
    background: #377dd8;
    border-radius: 1vw;
    width: 15vw;
    height: 2.3vw;
    padding-left: 4vw;
    margin-left: -4vw;
}

.sidebar ul li {
    margin: 35px 0;
    width: 10vw;
    background-color: background-color 0.3s ease;
}

.sidebar ul li a {
    color: white;
    text-decoration: none !important;
    font-size: 1.2vw;
}

.sidebar li:hover{
    background: #CEAE80;
    width: 10vw;
}

#j{
    position: absolute;
    color: white;
    text-decoration: none;
    top: 40.1vw;
    font-size: 1.2vw;
    margin-left: 1vw;
}

#imagenes{
    margin-top: -26.4vw;
    margin-bottom: 1vw;
    object-fit: contain;

}

#h{
    position: absolute;
    margin-top: -16vw;
    margin-left: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}

#u{
    position: absolute;
    margin-top: -4vw;
    margin-left: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}

#c{
    position: absolute;
    margin-top:0.3vw;
    margin-left: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}

#rep{
    position: absolute;
    margin-top: 4.5vw;
    margin-left: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}

#l{
    position: absolute;
    margin-top: 20.8vw;
    margin-left: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}

.settings{
    margin-top: 20vw;
    margin-left: 5vw;
}

.settings a:hover{
    border-radius: 1vw;
    background: #CEAE80;
    width: 10vw;
}

h4{
    margin-left: 8.3vw;
    font-size: 1vw;
    margin-top: -0.5vw;
}

.menu-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    cursor: pointer;
    margin-top: 2vw;
    margin-left: 5vw;
    order: 1;
}

#sesion{
    position: fixed;
    top: 0;
    left: 0;
    background: #045b62;
    width: 100vw;
    height: 12vw;
    z-index: 5;
}


#buscador1{
    background-color: #0d484e;
    width: 30vw;
    height: 2.5vw;
    position: absolute;
    margin-left: 66vw;
    margin-top: 4vw;
    border-radius: 2vw;
    text-decoration: none;
    font-size: 1vw;
    padding-left: 1vw;
    border: none;
}

#cu{
    background-color: #CEAE80;
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    margin-left: 86vw;
    margin-top: -3vw;
    position: absolute;
}

#user{
    width: 3vw;
    margin-top: -0.2vw;
    margin-left: -0.3vw;
}


#ad{
    margin-left:3.9vw;
    position: absolute;
    margin-top: -2.3vw;
    font-weight: bold;
}

#cu1{
    width: 10vw;
    height: 2.8vw;
    background: #CEAE80;
    border-radius: 2vw;
    position: absolute;
    margin-left: 53vw;
    margin-top: 4vw;
    font-size: 1.2vw;
    padding-top: 0.5vw;
    border: none;
}

#cu2{
    width: 10vw;
    height: 2.8vw;
    background: #CEAE80;
    border-radius: 2vw;
    position: absolute;
    margin-top: 4vw;
    margin-left: 42vw;
    font-size: 1.2vw;
    padding-top: 0.5vw;
    border: none;
}

#cu1:hover{
    background: gray;
}
#cu2:hover{
    background: gray;
}

.cont-icon{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 2;
}


#ca, #me, #si {
    position: static;
    width: 2.5vw;
    height: 2.5vw;
}
.cont-icon{
    margin-top: -3vw;
    margin-left: 50vw;
}

#sesion1{
    background-color: #f5f6ff;
    width: 100vw;
    height: 37vw;
    margin-top: 12vw;
    padding: 2vw;
    box-sizing: border-box;
}

.card{
    position: fixed;
    top: 10.5vw;
    left: 64vw;
    width: 30vw;
    height: 30vw;
    margin-top: 5vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    margin-left: 9vw;
}

.card-text{
    font-size: 1.3vw;
    position: fixed;
}



#foto{
    margin-left: 2.5vw;
    width: 7vw;
}



#info{
    font-size: 1.1vw;
    text-align: center;
}

input, button{
    transition: all 0.3s ease;
}

input:focus{
    outline: none;
    box-shadow:  0 0 0.4vw #5358eb80;
    border:  1px solid #5358eb;
}

.sidebar ul li a:hover{
    text-decoration: underline;
    color: #b3b7ff;
}

#ca, #me, #si, #u, #i, #c, #re, #rep, #s, #l{
    transition: transform 0.2s ease;
    cursor: pointer;
}

#ca:hover, #me:hover, #si:hover, #u:hover, #i:hover, 
#c:hover, #re:hover, #rep:hover, #s:hover, #l:hover{
    transform: scale(1.2);
}

#buscador, #buscador1{
    transition: box-shadow 0.3s ease;
}

#buscador:focus, #buscador1:focus{
    box-shadow:  0 0 0.5vw rgba(83, 88, 235, 0.3);
    border: 1px solid #5358eb;
}

#buscador, #buscador1{
    background-color: #e4e6ff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#buscador:focus, #buscador1:focus{
    border: 1px solid #5358eb;
    box-shadow: 0 0 0.4vw rgba(83, 88, 235, 0.3);
}

#sesion, #sesion1{
    transition: transform 0.3s ease-in-out;
}

#im:hover, #im1:hover, #im2:hover, #im3:hover, #im4:hover, #im5:hover{
    box-shadow: 0 0 2vw rgba(96, 101, 244, 0.3);
}

.card:hover{
    transform: scale(1.05);
}

#ima {
    position: absolute;
    top: 14vw;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.user-box {
    width: 250px; 
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.user-box:hover {
    transform: scale(1.05);
}

.user-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nombre {
    color: #3f43c9;  
    font-weight: bold;
}

.role {
    color: #ff9800;  
    font-weight: bold;
}

.email {
    color: #4caf50;  
    font-weight: bold;
}

.telefono {
    color: #e91e63;  
    font-weight: bold;
}

strong{
    position: absolute;
    color: #000000;
    margin-left: 2vw;
}

.xr{
    margin-top: 2vw;
}

input{
    margin-left: 9vw;
    height: 2vw;
    background-color: #ebebeb;
    font-size: 1.2vw;
}

select{
    margin-left: 9vw;
    height: 2vw;
    background-color: #ebebeb;
    font-size: 1.2vw;
}

#update-btn{
    position: absolute;
    background-color: #b5e0ff;
    border-radius: 0.5vw;
    top: 25vw;
    left: 7vw;
}

#delete-btn{
    position: absolute;
    background-color: #ffb5b5;
    border-radius: 0.5vw;
    top: 25vw;
    left: 16vw;
}

.bienvenida {
    margin-top: 1.5vw;
    margin-left: 5.5vw;
}

.b1 {
    color: #ffffff;  
    font-weight: bold;
    font-size: 2vw;
}

.b2 {
    color: #ffffff;
    font-size: 1.5vw;
}

#color{
    background: #c7cebe;
    width: 100%;
    height: 0.5vw;
    position: absolute;
    top: 12vw;
}

@media (max-width: 767px){
html, body{
    height: 100%;
    margin: 0;
}

.sidebar {
    width: 20vw;
    background: #0d484e;
    color: white;
    padding: 20px;
    position: fixed;
    left: -20vw;
    top: 0;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
}

#logo{
    margin-top: 1vw;
    margin-left: 10vw;
    width: 18vw;
}

.sidebar.show {
    left: 0;
    width: 50vw;
}

#r{
    margin-top: -4vw;
    font-size: 7vw;
    margin-left: -4vw;
}

#r2{
    position: relative;
    margin-top: 2vw;
    font-size: 7vw;
    margin-left: -4vw;
}

h4{
    margin-left: 6.5vw;
    font-size: 4vw;
    margin-top: -2vw;
}

.sidebar li{
    width: 15vw;
    height: 2vw;
    padding: 0.2vw 1vw ;
    border-radius: 1vw;
    transition: background-color 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 8vw;
    margin-left: 13vw;
}

.sidebar ul li {
    margin: 80px 0;
    width: 10vw;
    background-color: background-color 0.3s ease;
}

.sidebar ul li a {
    color: white;
    text-decoration: none !important;
    font-size: 5vw;
}

.sidebar li:hover{
    background: #a48c84;
    width: 30vw;
    height: auto;
    border-radius: 10vw;
}
#j{
    color: white;
    text-decoration: none;
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 121vw;
}

.cont-icon{
    display: none;
}

#imagenes{
    margin-top: -26.4vw;
    margin-bottom: 1vw;
    object-fit: contain;

}

#u{
    position: absolute;
    margin-top: -36vw;
    margin-left: 1.5vw;
    width: 6vw;
    height: 6vw;
}

#c{
    position: absolute;
    margin-top: -15vw;
    margin-left: 1.5vw;
    width: 6vw;
    height: 6vw;
}

#rep{
    position: absolute;
    margin-top: 4.5vw;
    margin-left: 1.5vw;
    width: 6vw;
    height: 6vw;
}

#l{
    position: absolute;
    margin-top: 61vw;
    margin-left: -2vw;
    width: 6vw;
    height: 6vw;
}

.settings{
    margin-top: 20vw;
    margin-left: 5vw;
    background: #a48c84;
}

.settings a:hover{
    border-radius: 1vw;
    background: #a48c84;
}

.menu-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    cursor: pointer;
    margin-top: 2vw;
    margin-left: 5vw;
}

#sesion{
    position: fixed;
    top: 0;
    left: 0;
    background: #045b62;
    width: 100vw;
    height: 30vw;
    z-index: 1;
}

#buscador1{
    background-color: #c0c0c0;
    width: 60vw;
    height: 8vw;
    position: absolute;
    margin-left: 8vw;
    margin-top: 32vw;
    border-radius: 4vw;
    text-decoration: none;
    font-size: 3.5vw;
    padding-left: 1vw;
    border: none;
}

#cu{
    background-color: #CEAE80;
    width: 28vw;
    height: 7vw;
    border-radius: 4vw;
    margin-left: 70vw;
    margin-top: -7vw;
    position: absolute;
}

#user{
    width: 8vw;
    margin-top: -0.5vw;
    margin-left: -0.5vw;
}

#ad{
    margin-left: 8.5vw;
    position: absolute;
    margin-top: -7vw;
    font-weight: bold;
    font-size: 4vw;
}

#cu1{
    width: 22vw;
    height: 8vw;
    background: #0d484e;
    border-radius: 2vw;
    margin-top: 34vw;
    margin-left: 55vw;
    font-size: 3.5vw;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 4.5vw;
}

#cu2{
    width: 22vw;
    height: 8vw;
    background: #0d484e;
    border-radius: 2vw;
    margin-top: 34vw;
    margin-left: 20vw;
    color: white;
    font-size: 3.5vw;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 4.5vw;
}

#cu1:hover{
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.664);
}
#cu2:hover{
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.664);
}

#sesion1{
    background-color: #f5f6ff;
    width: 100vw;
    height: 220vw;
    margin-top: 12vw;
    padding: 2vw;
    box-sizing: border-box;
}

.card{
    top: 50vw;
    left: 16vw;
    width: 65vw;
    height: 70vw;
    margin-top: 5vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22vw;
    margin-left: 16vw;
    margin-top: -2vw;
}

.card-text{
    font-size: 3vw;
    position: fixed;
}

#foto{
    margin-left: 2.5vw;
    width: 7vw;
}

#info{
    font-size: 1.1vw;
    text-align: center;
}

input, button{
    transition: all 0.3s ease;
}

#delete-btn{
    margin-top: 30vw;
    margin-left: 15vw;
}

#update-btn{
    margin-top: 30vw;
    margin-left: 3vw;
}

#edit-nombre{
    height: 4.5vw;
    width: 29vw;
    margin-left: 20vw;
    font-size: 3vw;
}

#edit-role{
    height: 4.5vw;
    width: 29vw;
    margin-left: 20vw;
    font-size: 3vw;
}

#edit-email{
    height: 4.5vw;
    width: 29vw;
    margin-left: 20vw;
    font-size: 3vw;
}

#edit-telefono{
    height: 4.5vw;
    width: 29vw;
    margin-left: 20vw;
    font-size: 3vw;
}

input:focus{
    outline: none;
    box-shadow:  0 0 0.4vw #5358eb80;
    border:  1px solid #5358eb;
}

.sidebar ul li a:hover{
    text-decoration: underline;
    color: #b3b7ff;
}

#ca, #me, #si, #u, #i, #c, #re, #rep, #s, #l{
    transition: transform 0.2s ease;
    cursor: pointer;
}

#ca:hover, #me:hover, #si:hover, #u:hover, #i:hover, 
#c:hover, #re:hover, #rep:hover, #s:hover, #l:hover{
    transform: scale(1.2);
}

#buscador, #buscador1{
    transition: box-shadow 0.3s ease;
}

#buscador:focus, #buscador1:focus{
    box-shadow:  0 0 0.5vw rgba(83, 88, 235, 0.3);
    border: 1px solid #5358eb;
}

#buscador, #buscador1{
    background-color: #e4e6ff;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

#buscador:focus, #buscador1:focus{
    border: 1px solid #5358eb;
    box-shadow: 0 0 0.4vw rgba(83, 88, 235, 0.3);
}

#sesion, #sesion1{
    transition: transform 0.3s ease-in-out;
}

#im:hover, #im1:hover, #im2:hover, #im3:hover, #im4:hover, #im5:hover{
    box-shadow: 0 0 2vw rgba(96, 101, 244, 0.3);
}

.card:hover{
    transform: scale(1.05);
}

#ima {
    position: absolute;
    top: 130vw;
    left: 18.5vw;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    padding: 20px;
}

.user-box {
    width: 250px; 
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.user-box:hover {
    transform: scale(1.05);
}

.user-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nombre {
    color: #3f43c9;  
    font-weight: bold;
}

.role {
    color: #ff9800;  
    font-weight: bold;
}

.email {
    color: #4caf50;  
    font-weight: bold;
}

.telefono {
    color: #e91e63;  
    font-weight: bold;
}

strong{
    position: absolute;
    color: #000000;
    margin-left: 2vw;
}

.xr{
    margin-top: 2vw;
}

input{
    margin-left: 9vw;
    height: 2vw;
    background-color: #ebebeb;
    font-size: 1.2vw;
}
select{
    margin-left: 9vw;
    height: 2vw;
    background-color: #ebebeb;
    font-size: 1.2vw;
}

#update-btn{
    position: absolute;
    background-color: #b5e0ff;
    border-radius: 0.5vw;
    top: 25vw;
    left: 7vw;
}

#delete-btn{
    position: absolute;
    background-color: #ffb5b5;
    border-radius: 0.5vw;
    top: 25vw;
    left: 16vw;
}

.bienvenida {
    margin-top: 3vw;
    margin-left:vw;
}

.b1 {
    color: #ffffff;  
    font-weight: bold;
    font-size: 5vw;
    margin-left: 28vw;
}

.b2 {
    color: #ffffff;
    font-size: 5vw;
    margin-left: 13vw;
}

#color{
    background: #c7cebe;
    width: 100%;
    height: 0.5vw;
    position: absolute;
    top: 12vw;
}
}